body {
  background-color: #0e153a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #FFFFFF
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}

h4 {
  font-size: 1.10em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #22d1ee;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #3d5af1;
}

a:hover {
  color: #e2f3f5;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #e2f3f5;
}

a:hover,
a:focus {
  color: #e2f3f5;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #22d1ee;
  color: #FFFFFF;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0DB5D1;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  color: transparent opacity: 0.6;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  color: transparent
}
.button.cv {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FFFFFF;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #22D1EE;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button.cv:hover {
  color: #22D1EE
}
